1. No players are to be added if they are not a current or past UAlbany student
2. To be whitelisted, a member must fill out the google form and provide valid information
as well as be a part of the My involvement
3. No killing players unless agreed upon by both parties
4. Griefing of any kind will not be allowed on the server this includes:
a. Destroying bases
b. Leaving hateful messages
c. Stealing property
5. Punishment will be decided by the e-board on a by-case basis these can include:
a. Week ban
b. Month ban
c. Permanent ban
6. No mods, hacks, or plugins are allowed on the server unless permitted by the e-board.
a. X-rays, flying, etc are not permitted.
i. NOTE: This does not include cosmetic add-ons like texture packs that
only change the style of blocks (not including X-ray packs)
7. Harassment will not be tolerated and the involved parties will be reported to the
necessary authorities

if any questions DM

TheoW #4769
noahlevine #8821

on discord